<p-card [style]="{ width: '90%', 'margin-bottom': '20px', 'display': 'inline-flex', 'align-items': 'center' }" styleClass="justify-content-center align-items-center">
    <div class="jumbotron" style="display: inline-flex; align-items: center; width: 100%; justify-content: space-between;">
      <div style="display: inline-flex; align-items: center;">
        <img [src]="'http://localhost:3000/' + normeAdopte?.projet?.client?.logo" alt="" style="width: 100px; height: 60px; margin-right: 10px;">
        <input type="text" class="form-control" id="norme" style="margin-right: 10px; font-family: sans-serif; margin-left: 55px;" value="Projet: {{ normeAdopte?.projet?.designation }}" disabled>
        <input type="text" class="form-control" id="projet" style="font-family: sans-serif;" value="Norme: {{ normeAdopte?.norme?.designation }}" disabled>
      </div>
      <div style="display: inline-flex; align-items: self-end; margin-left: 140px;">
        <app-audit-validation 
        *ngIf="isProjectManager"
        [isValidateButtonClicked]="isValidateButtonClicked" 
        (validateButtonClick)="handleValidateClick()">
        ></app-audit-validation>
        <!--button pButton *ngIf="isProjectManager" (click)="handleValidateClick()" class="btn validation-btn" [disabled]="isValidateButtonClicked">Valider</button-->
  
        <button pButton class="btn" type="button" label="Télécharger rapport" icon="pi pi-file-excel" style="color: #fff; margin-left: 10px; background-color: #E4D00A;"  [disabled]="! normeAdopte?.validation" (click)="handleRepport()"></button>
      </div>
    </div>
  </p-card>