 <!--ADD CLIENT MODAL-->
 <p-dialog header="Nouvelle Norme" [modal]="true" [(visible)]="visible" [style]="{ height: '330px',width:'570px'}" styleClass="justify-content-center align-items">
    <form [formGroup]="addNormForm">
    <div class="field" style="margin-right: 62px;">
        <label for="designation" class="font-semibold w-6rem">Désignation</label><br/>
        <input pInputText id="designation" formControlName="designation" class="flex-auto w-full" style="width: 186px;"  autocomplete="off" />
        <small *ngIf="designation.invalid && (designation.dirty || designation.touched)" class="block p-error">
          <div *ngIf="designation.errors?.['required']">Ce champs est important!.</div>
      </small>
        
    
        <!--select name="" id="echel" formControlName="echel" class="flex-auto w-full ml-2" style="width: 186px;" placeholder="Echelle d'évaluation..">
          <option value="">Sélectionner le echels..</option>
          <option *ngFor="let echel of echels" [value]="echel">{{echel}}</option>
        </select-->
        
        <div class="field" >
          <label for="echel" class="font-semibold">Echelle d'évaluation</label>
          <p-dropdown 
                    id="echelDropdown" 
                    [options]="echels" 
                    formControlName="echel"
                    styleClass="flex-auto w-full"
                    placeholder="Sélectionner echel">
                </p-dropdown> 
      </div>
    

      
     </div>
  <button label="Ajouter" pButton pRipple (click)="handleAddNorm()"  class="w-full p-button-info text-xl"></button>
    
  </form>
</p-dialog>
