<p-dialog header="Changer le mot de passe" [modal]="true" [style]="{ height: '400px',width:'470px'}" [(visible)]="visible" styleClass="justify-content-center align-items">
    <form action="" [formGroup]="pwdFormGroup" (ngSubmit)="submitDetails()">

    <div class="field">
        <label for="password">Mot de passe</label><br>
        <input 
            type="password" pInputText 
            formControlName="password" 
            class="w-full form-control" name="password" 
            placeholder="Entrez un mot de passe"  
        />
    </div>
    <small *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="block p-error">
        <div *ngIf="password?.errors?.['required']">Mot de passe est obligatoire.</div>
        <div *ngIf="password?.errors?.['minlength']">Le mot de passe doit contenir au moins 8 caractères.</div>
        <div *ngIf="password?.errors?.['pattern']">Le mot de passe doit contenir au moins une majuscule, un chiffre et un caractère spécial.</div>
      </small>
  
      <div class="field">
        <label for="confirmPassword">Confirmer mot de passe</label><br>
        <input 
          type="password" pInputText 
          formControlName="confirmPassword" 
          class="w-full form-control" name="confirmPassword" 
          placeholder="Confirmez le mot de passe"  
        />
      </div>
      <small *ngIf="confirmPassword?.invalid && (confirmPassword?.dirty || confirmPassword?.touched)" class="block p-error">
        <div *ngIf="confirmPassword?.errors?.['required']">Confirmation de mot de passe obligatoire.</div>
      </small>
      <small *ngIf="pwdFormGroup.errors?.['passwordMismatch'] && confirmPassword?.valid && password?.valid" class="block p-error">
        Les mots de passe ne correspondent pas.
      </small><br>
        <button
            pButton
            pRipple
            label="Modifier" 
            type="submit"
            (click)="submitDetails()"
            class="w-full p-3 text-xl btn btn-success" style="color: #fff;">
            Changer
        </button>
    </form>
</p-dialog>