<div class="col-12 lg:col-6 xl:col-3">
    <div class="card mb-0" style="background-color: #fff; border-color: #fff; color: white;">
        <div class="flex justify-content-between mb-3">
            <div>
                <span class="block text-500 font-medium mb-3" style="color: #fff;">Projets</span>
                <div class="text-900 font-medium text-xl" style="color: #fff;">{{totalAffectations}}</div>
            </div>
            <div class="flex align-items-center justify-content-center border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}" style="color: #fff;">
                <i class="pi pi-clone text-500 text-xl"></i>
            </div>
        </div>
        <a (click)="handleUnauditedProjects()" style="cursor: pointer;"><span class="text-green-500 font-medium">{{totalUnaudited}}  </span></a>
        <span class="text-500">Projets non consultés</span>
    </div>
    
</div>
<app-unaudited-pro
    [displayUnaudited]="displayUnaudited"
>
</app-unaudited-pro>