<p-dialog header="Nouvelle Norme" [modal]="true" [(visible)]="visible" [style]="{ height: '400px',width:'670px'}" styleClass="justify-content-center align-items">

    <form action="" [formGroup]="clientFormGroup" (ngSubmit)="submitDetails()" enctype="multipart/form-data">
            
            <div class="field-container">
                <div class="field">
                    <label for="nom">Nom</label><br>
                    <input 
                        type="text" pInputText 
                        formControlName="nom" 
                        class="w-full" name="nom" 
                        placeholder="Type your nom"  
                    />
                    <small *ngIf="nom.invalid && (nom.dirty || nom.touched)" class="block p-error">
                        <div *ngIf="nom.errors?.['required']">Nom est obligatoire.</div>
                        <div *ngIf="nom.errors?.['pattern']">Entrez un nom valide</div>
                    </small>
                </div>
                <div class="field">
                     <label for="email">Email</label><br>
                        <input 
                            type="text" pInputText 
                            formControlName="email" 
                            class="w-full" name="email" 
                            placeholder="Type your email"  
                        />
                    <small *ngIf="email.invalid && (email.dirty || email.touched)" class="block p-error">
                        <div *ngIf="email.errors?.['required']">Email est obligatoire..</div>
                        <div *ngIf="email.errors?.['email']">Format non vallide</div>
                    </small>
                </div>
            </div>
            <div class="field-container">
                <div class="field">
                    <label for="tel">Tel:</label><br>
                    <input 
                        type="text" pInputText 
                        formControlName="tel" 
                        class="w-full" name="tel" 
                        placeholder="Tél:"  
                    />

                <small *ngIf="tel.invalid && (tel.dirty || tel.touched)" class="block p-error">
                    <div *ngIf="tel.errors?.['required']">Numéro de télétel est obligatoire.</div>
                </small>
            </div>
            <div class="field">
            
                    <label for="role">Logo</label><br>
                    <input pFileUpload 
                    type="file"
                        mode="basic" 
                        chooseLabel="Browse" 
                        chooseIcon="pi pi-upload"
                        name="logo[]" 
                        accept="image/*" 
                        maxFileSize="1000000" 
                        fileSelection="single"
                        (change)="onSelectFile($event)"
                        />
                        <small *ngIf="logo.invalid && (logo.dirty || logo.touched)" class="block p-error">
                            <div *ngIf="logo.errors?.['required']">logo is required.</div>
                            <div *ngIf="logo.errors?.['pattern']">Upload a valid format</div>
                        </small>
                    </div>
                </div>
                
        <br>
            <button
                pButton
                pRipple
                label="Enregistrer" 
                type="submit"
                class="w-full p-3 text-xl p-button-info">
            </button>
            
       
    </form>
    </p-dialog>