<!-- chapitre-audit.component.html -->
  <input type="text" pInputText class="form-control" value="Conformité: {{conformiteNorme * 100}} %" disabled style="width: 250px; border: 20px; height: 40px;">
  <p-table class="p-table table-bordered" [value]="results" [paginator]="true" [rows]="5" styleClass="p-datatable-striped p-datatable-gridlines">
    <ng-template pTemplate="header" class="header">
      <tr class="entete" style="background-color: #E4D00A; color: #fff;">
        <th>Chapitre</th>
        <th>Nombre de question</th>  
        <th *ngFor="let niveau of niveauMaturite">{{ niveau }}</th>
        <th>Niveau de maturité</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-conf>
      <tr>
        <td>{{ conf.chapitre }}</td>
        <td>{{ conf.nombre_pc_audit }}</td>
        <td *ngFor="let niveau of conf.result; let i = index">{{ niveau.nb_pc_audit}}</td>
        <td>{{ conf.conformite * 100}}%</td>
      </tr>
      
    </ng-template>
    <p></p>
  </p-table>