<p-dialog header="Modifier client" [modal]="true" [(visible)]="display" [style]="{ height: '470px',width:'670px'}" styleClass="justify-content-center align-items">

    <form action="" [formGroup]="updateClientForm" (ngSubmit)="handleSubmit()" enctype="multipart/form-data">
        <div *ngIf="logo">
            <img [src]="'http://localhost:3000/' + logo"  style="width: 50px; height: 50px;">
        </div>
            <div class="field-container">
                <div class="field">
                    <label for="nom">Nom</label><br>
                    <input 
                        type="text" pInputText 
                        formControlName="nom" 
                        class="w-full" name="nom" 
                    />
                    <small *ngIf="nom.invalid && (nom.dirty || nom.touched)" class="block p-error">
                        <div *ngIf="nom.errors?.['required']">Nom est obligatoire.</div>
                        <div *ngIf="nom.errors?.['pattern']">Entrez un nom valide</div>
                    </small>
                </div>
                <div class="field">
                     <label for="email">Email</label><br>
                        <input 
                            type="text" pInputText 
                            formControlName="email" 
                            class="w-full" name="email"  
                        />
                    <small *ngIf="email.invalid && (email.dirty || email.touched)" class="block p-error">
                        <div *ngIf="email.errors?.['required']">Email est obligatoire..</div>
                        <div *ngIf="email.errors?.['email']">Format non vallide</div>
                    </small>
                </div>
            </div>
            <div class="field-container">
                <div class="field">
                    <label for="tel">Tel:</label><br>
                    <input 
                        type="text" pInputText 
                        formControlName="tel" 
                        class="w-full" name="tel" 
                    />

                <small *ngIf="tel.invalid && (tel.dirty || tel.touched)" class="block p-error">
                    <div *ngIf="tel.errors?.['required']">Numéro de télétel est obligatoire.</div>
                </small>
            </div>
                </div>
                
        <br>
            <button
                pButton
                pRipple
                label="Modifier" 
                type="submit"
                class="w-full p-3 text-xl p-button-info">
            </button>
            
       
    </form>
    </p-dialog>