<div class="p-toolbar-group-start" style="margin-bottom: 20px; margin-right: 15px;">
  <button
    pButton
    pRipple
    label="New"
    style="margin-right: 5px;"
    icon="pi pi-plus"
    class="p-button-info mr-2"
    (click)="showAddModal($event)"
  ></button>
</div>
<p-card [style]="{width: '90%'}" styleClass="justify-content-center align-items-center">
        
    <h3 class="ml-3 mt-0">Liste des normes</h3>
     
    <p-table class="p-table" [value]="normes" [paginator]="true" [rows]="5">
        <ng-template pTemplate="header">
          <tr>
            <th>Norme</th>
            <th>Chapitre</th>
            <th>Action</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-norm>
          <tr>
            <td>{{ norm.designation }}</td>
            <td><button pButton class="chapitreButton" [routerLink]="['/admin/chapitre',norm.id]">Chapitre</button></td>
            <td><button pButton pRipple icon="pi pi-trash" (click)="handleDeleteNorm(norm)" style="color: white;" class="del-button p-button-rounded" style="margin-right: 15px;"></button><button severity="secondary" pButton pRipple icon="pi pi-pencil" class="p-button-info p-button-rounded" (click)="handleEditNorm(norm,'bottom')"></button></td>
          </tr>
        </ng-template>
      </p-table>
    </p-card>
    <!--app-user-update
     [visible]="visible"
     [selectedUser]="selectedUser"
     (clickClose)="onCancel($event)"
     (clickAdd)="onSave($event)"
     >
    </app-user-update-->
    <app-norme-add
        [visible]="visible"
        [style]="{width: '50vw'}"
        (clickClose)="onCancel($event)"
        (clickAdd)="saveNorm($event)"
    >
    </app-norme-add>

    <app-norme-update
      [display]="display"
      [selectedNorm]="selectedNorm"
      (clickCloseMod)="cancelUpdate($event)"
      (clickAddMod)="updateNorm($event)"
    >

    </app-norme-update>
  
  <p-confirmDialog header="Delete" icon="pi pi-exclamation-triangle"></p-confirmDialog>
  <p-toast position="bottom-right"></p-toast>
      