*{
  font-family: sans-serif;
}
.head{
    margin-bottom: 10px;
}
.custom-dropdown{
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  background-color: var(--bs-body-bg);
  background-clip: padding-box;
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-conformity{
  margin-right: 5px;
  border-color: #30D5C8; 
  color: #30D5C8; 
  background-color: white;
  border-radius: 20px;
}
.btn-conformity:hover{
  font-size: 18px;
  background-color: #30D5C8;
  color: #fff;
}
.btn-save{
  border-radius: 20px;
  color: #fff;
  background-color: #30D5C8;

}
.btn-save:hover{
  font-size: 18px;
  background-color: #fff;
  color: #30D5C8;
  border-color: #30D5C8;
}
.recom-btn{
  /*border-radius: 25px;*/
  color: #E4D00A;
  border-color: #E4D00A;
}
.det-btn{
/*border-radius: 25px;*/
  color: white;
  border-color: #30D5C8;
  background-color: #30D5C8;
}
.flexible-input {
  /*/width: 100%;  Adjust width to 100% of the parent container */
  height: auto; /* Adjust height based on content */
  /*max-width: 500px;  Maximum width limit */
  min-width: 200px; /* Minimum width limit */
  padding: 10px; /* Padding inside the input */
  box-sizing: border-box; /* Ensure padding is included in width calculation */
}
.audit-modal{
  width: 80vw;
  
}
.del-details{
  color: #fff;
  background-color: #E4D00A;
  border-color: #E4D00A;
}
.recom-box{
  border-radius: 15px;
  border-color: lightgray;
  width: 100%;
  height: 236px;
}


