<!-- Entete des infos sur client, projet et norme -->
<!--p-card [style]="{ width: '90%', 'margin-bottom': '20px', 'display': 'inline-flex', 'align-items': 'center' }" styleClass="justify-content-center align-items-center">
  <div class="jumbotron" style="display: inline-flex; align-items: center; width: 100%; justify-content: space-between;">
    <div style="display: inline-flex; align-items: center;">
      <img [src]="'http://localhost:3000/' + normeAdopte?.projet?.client?.logo" alt="" style="width: 100px; height: 60px; margin-right: 10px;">
      <input type="text" class="form-control" id="norme" style="margin-right: 10px; font-family: sans-serif; margin-left: 55px;" value="Projet: {{ normeAdopte?.projet?.designation }}">
      <input type="text" class="form-control" id="projet" style="font-family: sans-serif;" value="Norme: {{ normeAdopte?.norme?.designation }}">
    </div>
    <div style="display: inline-flex; align-items: self-end; margin-left: 140px;">
      <app-audit-validation 
      *ngIf="isProjectManager"
      [isValidateButtonClicked]="isValidateButtonClicked" 
      (validateButtonClick)="handleValidateClick()">
      ></app-audit-validation>
      <!--button pButton *ngIf="isProjectManager" (click)="handleValidateClick()" class="btn validation-btn" [disabled]="isValidateButtonClicked">Valider</button>

      <button pButton class="btn btn-info" type="button" label="Enregistrer Audit" icon="pi pi-save" style="color: #fff; margin-left: 20px;" (click)="savePcAudites()" [disabled]="isValidateButtonClicked || normeAdopte?.validation"></button>
      <button pButton class="btn" type="button" label="Télécharger rapport" icon="pi pi-file-excel" style="color: #fff; margin-left: 10px; background-color: #E4D00A;" (click)="exportToExcel()" [disabled]="! normeAdopte?.validation"></button>
    </div>
  </div>
</p-card-->
<app-audit-head
  [normeAdopte]="normeAdopte"
  (clickSave)="savePcAudites()"
  (clickValidate)="disableFormControls()"
  (clickRepport)="exportToExcel()"
>

</app-audit-head>

<p-card [style]="{ width: '90%' }" styleClass="justify-content-center align-items-center">
  <p-card>
  <div *ngIf="!showConformite">
    <button pButton  class="btn btn-conformity" label="Conformité" icon="pi pi-angle-right" (click)="getConformite()"></button>
    <button pButton class="btn btn-save" type="button" label="Enregistrer Audit" icon="pi pi-save" style="margin-left: 20px;" (click)="savePcAudites()" [disabled]="isValidateButtonClicked || normeAdopte?.validation"></button>
  </div>
  <button pButton *ngIf="showConformite" class="btn btn-conformity" label="Evaluation" icon="pi pi-angle-left" (click)="getConformite()"></button>

  </p-card>
  <p-table *ngIf="!showConformite" class="p-table table-bordered" [value]="chapitres" [paginator]="true" [rows]="5" styleClass="p-datatable-striped p-datatable-gridlines">

    <ng-template pTemplate="header">
      <tr>
        <th>Chapitre</th>
        <th>Points de contrôle</th>
        <th>Objectif</th>
        <th>Niveau de maturité</th>
        <th>Constat Near Secure</th>
        <th>Autre document vérifié</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-chap>
      <tr>
        <td [attr.rowspan]="chap.pointsControle.length + 1">{{ chap.titre }}</td>
      </tr>
      <tr *ngFor="let point of chap.pointsControle; let i = index" [formGroup]="getPointFormGroup(chapitres.indexOf(chap), i)">
        <td><input type="text" class="form-control" value="{{ point.designation }}" disabled></td>
        <td><input type="text" class="form-control" value="{{ point.objectif }}" disabled></td>
        <td><p-dropdown type="text" formControlName="niveau_maturite" [options]="niveau" [style]="{width: '150px'}" class="custom-dropdown" [disabled]="isInputDisabled()"></p-dropdown></td>
        <td><input pInputText type="text" formControlName="constat" class="form-control" [disabled]="isInputDisabled()"/></td>
        
        <td>
          <input type="text" pInputText formControlName="commentaire" class="form-control" [disabled]="isInputDisabled()">
        </td>
      </tr>
    </ng-template>
  </p-table>
  <p-card *ngIf="showConformite">
    <h3>Synthèse</h3>
    <app-conformite ></app-conformite>
  </p-card>
</p-card>
<!--p-card>
<app-pc-audit
  [normeAdopte]="normeAdopte"
  [audit]="audit"
  [normeId]="normeId"
  [pointControle]="pointControle"
  [chapitres]="chapitres"
>

</app-pc-audit-->
 
  




