
  <p-card [style]="{width: '90%'}" styleClass="justify-content-center align-items-center">
          
      <h3 class="ml-3 mt-0">Liste des projets</h3>
       
      <p-table class="p-table" [value]="projets" [paginator]="true" [rows]="5">
          <ng-template pTemplate="header">
            <tr>
              <th>Client</th>
              <th>Projet</th>
              <th>Auditeurs</th>
              <th>Audit</th>
              <th>Action</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-projet>
            <tr>
              <td><img [src]="'http://localhost:3000/' + projet.client?.logo" alt="" style="width: 50px; height: 50px;"></td>
              <td>{{ projet.designation }}</td>
              <td><button pButton pRipple icon="pi pi-users" class="p-button-rounded del-button" (click)="handleAffectation(projet)"></button></td>
              <td><button pButton pRipple icon="pi pi-clipboard" class="audit-btn p-button-info" (click)="showAuditModal(projet)"></button></td>
              <td><button pButton pRipple icon="pi pi-trash" (click)="handleDeleteProjet(projet)" style="color: white; border-radius: 55px;" class="p-button-secondary del-pro p-button-rounded" style="margin-right: 15px;"></button>
              <!--button severity="secondary" pButton pRipple icon="pi pi-pencil" class="p-button-info p-button-rounded" (click)="handleEditProjet(projet)"></button--></td>
            </tr>
          </ng-template>
        </p-table>
      </p-card>
   
      
    
    <p-confirmDialog header="Delete" icon="pi pi-exclamation-triangle"></p-confirmDialog>
    <p-toast position="bottom-right"></p-toast>
   
  <p-dialog header="Sélectionner Norme Adoptée" [modal]="true" [(visible)]="displayAuditModal" [style]="{ height: '200px',width:'570px'}" styleClass="justify-content-center align-items">
   
    <div class="field">
        <label for="normeAdopte" style="margin-right: 70px;">Norme Adoptée</label>
        <p-dropdown [options]="normesAdoptees" [(ngModel)]="selectedNormeAdopte" optionLabel="norme.designation" placeholder="Selectionner la norme.."></p-dropdown>
     </div>  
     
     <div class="flex justify-content-center gap-2">
      <button pButton pRipple  icon="pi pi-check" class="p-button-info ml-2" (click)="redirectToAudit()">Auditer</button>
      <button pButton pRipple  icon="pi pi-times" class="del-button ml-2" (click)="displayAuditModal=false">Annuler</button>
    </div>

</p-dialog>

  <app-affectation
    [showAuditors]="showAuditors"
    [selectedPro]="selectedPro"
    (clickClose)="cancelAffectation()"
  >

  </app-affectation>

        