<!--p-dialog header="Sélectionner Norme Adoptée" [(visible)]="showModal" [modal]="true" styleClass="justify-content-center align-items">
    <div class="p-fluid">
        <div class="p-field">
            <label for="normeAdopte">Norme Adoptée</label>
            <p-dropdown [options]="normesAdoptees" [(ngModel)]="selectedNormeAdopte" optionLabel="norme.designation"></p-dropdown>
        </div>
        <div class="flex justify-content-center gap-2" >
            <button pButton label="Valider" (click)="redirectToAudit()"></button>
            <button pButton label="Annuler" class="p-button-secondary" (click)="showModal=false" style="margin-left: 20px;"></button>
        </div>
    </div>
</p-dialog-->
<p-dialog header="Sélectionner Norme Adoptée" [modal]="true" [(visible)]="showModal" [style]="{ height: '300px',width:'570px'}" styleClass="justify-content-center align-items">
   
        <div class="field">
            <label for="normeAdopte">Norme Adoptée</label>
            <p-dropdown [options]="normesAdoptees" [(ngModel)]="selectedNormeAdopte" optionLabel="norme.designation"></p-dropdown>
         </div>  
         
         <div class="flex justify-content-center gap-2">
          <button pButton pRipple  icon="pi pi-check" class="p-button-info ml-2" (click)="redirectToAudit()">Ajouter</button>
          <button pButton pRipple  icon="pi pi-times" class="del-button ml-2" (click)="showModal=false">Annuler</button>
        </div>
   
    </p-dialog>