 <!--EDIT MODAL-->
 <p-dialog header="Modifier la norme" [modal]="true" [(visible)]="display" [style]="{ height: '300px',width:'570px'}" styleClass="justify-content-center align-items">
    <form [formGroup]="updateForm">
        <div class="field" style="margin-right: 62px;">
            <label for="designation" class="font-semibold w-6rem">Désignation</label><br/>
            <input pInputText id="designation" formControlName="designation" class="flex-auto"  autocomplete="off" />
         
          <small *ngIf="designation.invalid && (designation.dirty || designation.touched)" class="block p-error">
            <div *ngIf="designation.errors?.['required']">Ce champs est important!.</div>
        </small>
         
    <div class="flex justify-content-center gap-2">
        <button label="Cancel" pButton severity="secondary" (click)="display = false" ></button>
        <button label="EDIT" pButton (click)="handleSubmit()" ></button>
    </div>
        </div>
  </form>
</p-dialog>
